@page
@model EFCore_Activity0601.Pages.Items.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Quantity" class="control-label"></label>
                <input asp-for="Item.Quantity" class="form-control" />
                <span asp-validation-for="Item.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Notes" class="control-label"></label>
                <input asp-for="Item.Notes" class="form-control" />
                <span asp-validation-for="Item.Notes" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item.IsOnSale" /> @Html.DisplayNameFor(model => model.Item.IsOnSale)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Item.PurchasedDate" class="control-label"></label>
                <input asp-for="Item.PurchasedDate" class="form-control" />
                <span asp-validation-for="Item.PurchasedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.SoldDate" class="control-label"></label>
                <input asp-for="Item.SoldDate" class="form-control" />
                <span asp-validation-for="Item.SoldDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.PurchasePrice" class="control-label"></label>
                <input asp-for="Item.PurchasePrice" class="form-control" />
                <span asp-validation-for="Item.PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.CurrentOrFinalPrice" class="control-label"></label>
                <input asp-for="Item.CurrentOrFinalPrice" class="form-control" />
                <span asp-validation-for="Item.CurrentOrFinalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.CategoryId" class="control-label"></label>
                <select asp-for="Item.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.CreatedByUserId" class="control-label"></label>
                <input asp-for="Item.CreatedByUserId" class="form-control" />
                <span asp-validation-for="Item.CreatedByUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.CreatedDate" class="control-label"></label>
                <input asp-for="Item.CreatedDate" class="form-control" />
                <span asp-validation-for="Item.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.LastModifiedUserId" class="control-label"></label>
                <input asp-for="Item.LastModifiedUserId" class="form-control" />
                <span asp-validation-for="Item.LastModifiedUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.LastModifiedDate" class="control-label"></label>
                <input asp-for="Item.LastModifiedDate" class="form-control" />
                <span asp-validation-for="Item.LastModifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item.IsDeleted" /> @Html.DisplayNameFor(model => model.Item.IsDeleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Item.IsActive" /> @Html.DisplayNameFor(model => model.Item.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
